@font-face{
    font-family: twiggy;
    src: url(fonts/twiggy-regular-webfont.woff) format('woff');
    src: url(fonts/twiggy-regular-webfont.woff2) format('woff2');
}
@font-face{
    font-family: dosis_light;
    src: url(fonts/dosis-light-webfont.woff) format('woff');
    src: url(fonts/dosis-light-webfont.woff2) format('woff2');
}
@font-face{
    font-family: dosis_med;
    src: url(fonts/dosis-medium-webfont.woff) format('woff');
    src: url(fonts/dosis-medium-webfont.woff2) format('woff2');
}
@font-face{
    font-family: dosis_bold;
    src: url(fonts/dosis-bold-webfont.woff) format('woff');
    src: url(fonts/dosis-bold-webfont.woff2) format('woff2');
}

html, body {
    margin: 0 auto;
	padding: 0;
    box-sizing: border-box;
    
}

:root{
	--lightpurple: #ebddf7;
	--purple: #622897;
	--darkgreen: #646828;
	--green: #96a15f;
	--lightgreen: #dfe0b0;
	--lightbrown: #bfaa61;
	--brown: #795d3f;
	--darkbrown: #463727;
}
*{
    font-family: dosis_med;
    font-size: 100%;
    box-sizing: border-box;
    margin: auto;
}
main{
    border-right: .25px solid var(--lightpurple);
    border-left: .25px solid var(--lightpurple);
}
img{
    display: block;
    margin: center;
}
#head{
    background-color: var(--lightgreen);
}
h1{
    font-size: 2.9rem;
    padding: 2rem 0;
}
h2{
    font-size: 1.5rem;
    padding: 1.5rem 0 1.25rem;
}
#hero{
    max-width: 100%;
    text-align: center;
    display: inline;
}
#hero{
    display: block;
    margin: 0;
    text-align: center;
}
p{
    font-size: 1.3rem;
    line-height: 150%;
    padding: 0 0 1.5rem;
}
.h{
    font-size: 1.5rem;
    padding: 1.5rem 0 1.25rem;
}
h8{
    display: block;
    margin: 1rem auto;
    padding: 1rem auto;
}
a{
    color: var(--purple);
}
#styletile{
    margin: 1.5rem auto;
    border-bottom: .15px dotted var(--lightpurple);
}
.wf{
    max-height: 300px;
    display: inline;
    text-align: center;
}
.wf:last-child{
    max-width: 70%;
}
#wf{
    text-align: center;
    margin: 0 auto;
}
.pink{
    background-color: var(--lightbrown);
}
.teal{
    background-color: var(--lightgreen);
}
.purple{
    background-color: var(--lightpurple);
}
div{
    box-sizing: content-box;
    max-width: 110%;
    padding: 2rem 0;
}

#fancy{
    display: block;
    margin: 1rem auto;
    padding: 1rem auto;
    font-size: 1.5rem;
    color: var(--purple);
}
#superfancy{
    font-size: 2rem;
    color: var(--yellow);
    font-family: dosis_med, sans-serif;
    outline: #256d69;
    padding: 0 .5rem;
}
#gif{
    width: 100%;
}



@media screen and (min-width: 1354px){
*{
    max-width: 80%;
}
body{
    max-width: 953px;
}
.wf{
    max-height: 200px;
}
}
@media screen and (max-width: 1354px){
    *{
        max-width: 100%;
    }
}
@media screen and (max-width: 1135px){
    *{
        max-width: 85%;
    }
}
@media screen and (max-width: 1005px){
    *{
        max-width: 90%;
    }
}
@media screen and (max-width: 896px){
    *{
        max-width: 90%;
    }
}
@media screen and (max-width: 647px){
    *{
        max-width: 90%;
    }
}
@media screen and (max-width: 617px){
    #hero{
        width: 100%;
    }
    main{
        max-width: 90%;
    }
}
@media screen and (max-width: 530px){
    h1{
        font-size: 2rem;
    }
    h2, .h{
        font-size: 1.35rem;
    }
}
@media screen and (max-width: 444px){
    #sc1{
        display: none;
    }
}
@media screen and (max-width: 352px){
    #sc2{
        display: none;
    }
}