@font-face{
    font-family: twiggy;
    src: url(fonts/twiggy-regular-webfont.woff) format('woff');
    src: url(fonts/twiggy-regular-webfont.woff2) format('woff2');
}
@font-face{
    font-family: dosis_light;
    src: url(fonts/dosis-light-webfont.woff) format('woff');
    src: url(fonts/dosis-light-webfont.woff2) format('woff2');
}
@font-face{
    font-family: dosis_med;
    src: url(fonts/dosis-medium-webfont.woff) format('woff');
    src: url(fonts/dosis-medium-webfont.woff2) format('woff2');
}
@font-face{
    font-family: dosis_bold;
    src: url(fonts/dosis-bold-webfont.woff) format('woff');
    src: url(fonts/dosis-bold-webfont.woff2) format('woff2');
}

html, body {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{
	--lightpurple: #ebddf7;
	--purple: #622897;
	--darkgreen: #646828;
	--green: #96a15f;
	--lightgreen: #dfe0b0;
	--lightbrown: #bfaa61;
	--brown: #795d3f;
	--darkbrown: #463727;
}


/* BROWSER  SCREEN**/

#portrait{
	margin: auto;
	height: 100vh;
	width: 100vw;
}
#portrait #browser{
	overflow: hidden;
	background-color: var(--green);
	height: 100%;
}
#browser b{
	background-color: transparent;
	padding: 0;
	margin: 0;
}
img{
	display: block;
}
h1{
	padding-top: 3rem;
	margin: 0 auto 2rem;
	text-align: center;
}

.twiggy{
	font-family: 'twiggy';
	font-size: 2.7em;
	color: var(--darkbrown);
}
.head{
	font-family: 'dosis_bold';
	font-size: 1.5rem;
	color: var(--darkbrown);
	margin: 2rem 2rem 0;
}
p{
	font-family: 'dosis_med';
	font-size: 1.15rem;
	color: var(--darkbrown);
	margin: 1rem 2rem 0;
}
.bold{
	font-family: 'dosis_bold';
	font-size: 1.25rem;
	color: var(--darkbrown);
}

/**** APP *****/
.top_green{
	background-color: var(--green);
	padding-bottom: 3rem;
	clip-path: polygon(0 0, 100% 0, 100% 85%, 65% 100%, 35% 100%, 0 85%);
}
#modal_open{
	padding: 1rem;
	background-color: var(--brown);
	font: 1rem 'dosis_med';
	color: var(--lightgreen);
	margin: 2rem auto;
	display: block;
	text-align: center;
	border-radius: 1rem;
	border: 3px solid var(--lightgreen);
	box-shadow: 3px 3px 2px var(--darkbrown);
}
#modal_open:active{
	background-color: var(--darkbrown);
	box-shadow: none;
}
#modal{
	box-sizing: border-box;
	padding: 0 1.25rem;
	background-color: var(--brown);
	width: 80%;
	height: 350px;
	position: fixed;
	z-index: 1;
	left: 10%;
	top: 170px;
	border-radius: 1rem;
	border: 3px solid var(--lightgreen);
	box-shadow: 4px 4px 300px var(--darkbrown);

	display: none;
}
#modal_close{
	background-color: transparent;
	border: none;
	color: var(--lightgreen);
	font: 1.25em 'dosis_light';
	padding: 0;
	float: right;
}
#modal_next, #modal_done{
	position: absolute;
	bottom:   0;
	width: 50%;
	padding: .8rem 0;
	background-color: var(--lightgreen);
	border: none;
	font: 1.3rem 'dosis_light';
}
#modal_next{
	right: 0;
	border-radius: 0 0 .8rem 0;
}
#modal_done{
	left: 0;
	border-radius: 0 0 0 .8rem;
	border-right: 1.5px solid var(--brown);
}
#modal h2{
	padding: 1.25rem 0 0;
	font: 1.5rem 'twiggy';
	margin: 0;
	color: var(--lightgreen);
}
#modal p{
	color: var(--lightgreen);
	margin-right: 0;
	margin-top: .5rem;
	padding: .75rem 0;
	font-size: 1rem;
}
#modal_img{
	/* Make each image 76pc tall!! **/
	max-width: 50%;
	margin: .5rem auto 0;
}

.home_content{
	text-align: center;
	padding: 3rem 0 0;
	min-height: 100%;
}
.home_content b{
	padding: 0 1rem;
	margin: 0 .5rem;
	color: var(--purple);
	background-color: var(--lightpurple);
}
.why_shipback{
	background-color: var(--brown);
	height: 100;
	position: relative;
	text-align: center;
	clip-path: polygon(35% 0, 65% 0, 100% 10%, 100% 100%, 0 100%, 0 10%);
	padding-top: 3rem;
	margin-top: 4rem;
}
.why_shipback_img{
	margin: 0 auto 0;
	max-width: 90%;
	padding: 1rem 0 2rem;
}
.why_shipback_txt{
	position: absolute;
	top: 92px;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	width: 100%;
	padding-top: 2rem;
	font-size: 1.8rem;
}
.why_shipback_p{
	text-align: left;
	padding: 0 0 3rem;	
	margin: 0 2rem;
}
.why_shipback_p p{
	color: var(--darkbrown);
	font-size: 1rem;
	background-color: var(--lightbrown);
	margin: 0 auto;
	padding: 1rem;	
}

/* MEDIA QUERIES **/
@media screen and (orientation:portrait){
	#landscape{
		display: none;
	}
	#portrait{
		display: block;
	}
	.rotating_recycle{
		width: 60px;
		padding: 1rem;
		margin: 0;
	}
}
@media screen and (orientation:landscape){
	#landscape{
		display: block;
	}
	#portrait{
		display: none;
	}
	body {
		background-color:var(--lightpurple);
		width: 100%;
	}
	.head{
		margin: 6rem auto 0;
		max-width: 400px;
	}
	/* PORTRAIT BROWSER **/
	.rotating_recycle{
		width: 100px;
		margin: 2rem auto;
	}
}

/* ANIMATIONS 

https://stackoverflow.com/questions/41587802/css-animation-from-left-to-right
http://jsfiddle.net/gaby/9Ryvs/7/ 
**/

.truck{
	width: 100px;
}
.rotating_recycle{

	-webkit-animation-name: spin;
	-webkit-animation-duration: 3000ms;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: spin;
	-moz-animation-duration: 3000ms;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-ms-animation-name: spin;
	-ms-animation-duration: 3000ms;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: linear;
	
	animation-name: spin;
	animation-duration: 3000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	}
	@-ms-keyframes spin {
	from { -ms-transform: rotate(0deg); }
	to { -ms-transform: rotate(1080deg); }
	}
	@-moz-keyframes spin {
	from { -moz-transform: rotate(0deg); }
	to { -moz-transform: rotate(1080deg); }
	}
	@-webkit-keyframes spin {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(1080deg); }
	}
	@keyframes spin {
	from {
		transform:rotate(0deg);
	}
	to {
		transform:rotate(360deg);
	}
}
.truck_driving{
	animation-name: truck;
    animation-duration: 3s;
	animation-iteration-count: 1000;
	margin: 2rem 0;
}
@keyframes truck {
    0% {
      left: 0;
      transform: translateX(-100px);
    }
    100% {
      left: 100%;
      transform: translateX(100%);
    }
}